@{
    MetaViewModel meta = ViewBag.Meta as MetaViewModel;
}

<!-- Basic Page Needs -->
<meta charset="utf-8">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<title>@meta.Title</title>
<meta name="description" content="@meta.Description" />
<meta name="author" content="@meta.Url">
<meta name="keywords" content="@meta.Keywords" />

<meta name="rating" content="general" />
<meta name="abstract" content="security" />
<meta name="robots" content="all" />
<meta name="googlebot" content="Index, Follow" />
<meta name="distribution" content="global" />
<meta name="application-name" content="sariyerpedodonti" />

<meta name="twitter:card" content="summary_larg_image" />
<meta name="twitter:title" content="@meta.Title" />
<meta name="twitter:site" content="@meta.Url" />
<meta name="twitter:description" content="@meta.Description" />
<meta name="twitter:image" content="@meta.Image" />

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Theme Style -->
<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

<!-- Reponsive -->
<link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">

<!-- Favicon and Touch Icons  -->
<link rel="shortcut icon" href="~/assets/images/Favicon.png">
<link rel="apple-touch-icon-precomposed" href="~/assets/images/Favicon.png">